<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%- if @identity -%>
<h1><%= @identity.name %>'s Library</h1>
<%- end -%>

<%= yield %>

<%- if @identity -%>
  <p>
    <%= link_to "Book List", books_path %>
  </p>
<%- end -%>
</body>
</html>
